body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("./background.jpg");
    background-color: rgb(30, 66, 39);
    background-repeat: repeat;
    background-size: 100%;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
}

.modal-backdrop {
    display: none;
}

.modal-dialog {
    margin-top: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    height: 75vh;
    background: rgba(255, 255, 255, 0.432);
    border: 1px solid white;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}

.picture {
    display: block;
    margin: 0px auto;
    width: 100%;
    background: url('./banner.jpg');
    background-size: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 130px;
}

.picture>img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 60px auto;
    border: 2px solid rgb(243, 80, 216);
    border-radius: 15rem;
}

.name {
    width: 100%;
    margin: 85px auto 0px auto;
    color: rgb(32, 12, 41);
    text-align: center;
}

.name h3 {
    font-family: 'Kanit', sans-serif;
}

.detail {
    margin: 0px auto;
    color: rgb(90, 15, 124);
    text-align: center;
}

.detail p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.coffee {
    margin: 10px auto;
    width: 90%;
    text-align: center;
}

.coffee>button {
    margin: 10px 5px;
}


.name>p {
    font-size: 20px;
}

.about {
    margin: -15px auto;
    width: 100%;
    text-align: center;
}

.about>p {
    margin-bottom: 1px;
    font-family: 'Open Sans', sans-serif;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
}


.qrcode {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: royalblue;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.qrcode>button {
    margin-top: 7px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    background-color: white;
}

#name {
    font-family: 'Dancing Script', cursive;
}

.fa-heart {
    color: rgb(207, 53, 53);
}

/* CSS */


/* CSS */
.social button {
    background-color: #e463c4;
    margin-top: 15px;
    border-radius: 100px;
    box-shadow: rgba(175, 40, 141, 0.2) 0 -25px 18px -14px inset, rgba(187, 44, 115, 0.15) 0 1px 2px, rgba(196, 51, 140, 0.15) 0 2px 4px, rgba(182, 44, 187, 0.15) 0 4px 8px, rgba(175, 44, 187, 0.15) 0 8px 16px, rgba(187, 44, 123, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}
